  
    <div id="highlighted">
      <div class="container">
        <div class="row-fluid header">
          <h2 class="page-title"><span>Contact</span> <small>No project too big or small, get in touch!</small></h2>
        </div>
      </div>
    </div> 
        
      
    <div id="content">
      <div class="container">
        
        <div class="row block">
          <div class="span6">

	<%= form_for @contact, :validate => true do |f| %>
		<%= render "shared/error_messages", :target => @contact %> 
	
	
		  <p>
    		<%= f.text_field :name, :placeholder => "Name", :class => "input-xxlarge" %>
          </p>
  		<p>
    		<%= f.text_field :email, :placeholder => "Email", :class => "input-xxlarge" %>
             	</p>
  		<p>
    		<%= f.text_area :message, :placeholder => "Message", :class => "input-xxlarge" %>
             	</p>
       		<p>
                <%= f.submit :value => "Send Message", :class => "btn btn-primary" %>
             	</p>
		<% end %>


          </div>
          <div class="span6">
            <h3 class="block-title sub-title"><span>Other Ways To Get In Touch</span></h3>
            <p><abbr title="Phone">P</abbr>: +91 9919189444</p>
            <p><abbr title="Fax">F</abbr>: +91 9919189444</p>
            <p><abbr title="Email">E</abbr>: info@ifaceglobal.com</p>
            <p><abbr title="Address">A</abbr>: IFaceGlobal Solutions Pvt. Ltd.,<br />&nbsp;&nbsp;&nbsp;&nbsp;C/o 91SpringBoard, B1/H3, Lower Ground Floor,<br />&nbsp;&nbsp;&nbsp;&nbsp;Mohan Cooperative Industrial Estate, Mathura Road,<br />&nbsp;&nbsp;&nbsp;&nbsp;New Delhi-110044.</p>
            <a href="http://goo.gl/maps/xbvqM">
<iframe width="300" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps/ms?msid=200529374810122628922.0004d4793f7cfb71ce6d7&amp;msa=0&amp;ie=UTF8&amp;t=m&amp;source=embed&amp;ll=28.517629,77.294934&amp;spn=0.001414,0.001609&amp;z=18&amp;output=embed"></iframe><br /><small>View <a href="https://maps.google.com/maps/ms?msid=200529374810122628922.0004d4793f7cfb71ce6d7&amp;msa=0&amp;ie=UTF8&amp;t=m&amp;source=embed&amp;ll=28.517629,77.294934&amp;spn=0.001414,0.001609&amp;z=18" style="color:#0000FF;text-align:left">IFace Global</a> in a larger map</small>
            </a>
          </div>
        </div>
      </div>
    </div>
    
  

  </body>
</html>
