     <div id="highlighted">
      <div class="container">
        <div class="row-fluid header">
	  <h2 class="page-title"><span>Blog</span> <small>Sometimes words do speak louder than actions</small></h2>
        </div>
      </div>
    </div> 
      
    <div id="content">
      <div class="container">  
        <div class="row">
          <!--Blog Roll Content-->
          <div class="span8 blog-list">

            
            <!-- Blog post -->
            <div class="media row">
		
		<%= link_to image_tag("Blog/asset_tracking.jpg", :class => "media-object img-polariod"), {:controller => "blog", :action => "hospital_asset_tracking_solution"}, {:class => "span2"} %>

              <div class="media-body span6">  
                <!-- Meta details -->
                <ul class="inline meta muted">
                  <li><i class="icon-calendar"></i> <span class="visible-desktop">Created:</span> Sat 12th Jan 2013</li>
                  <li><i class="icon-user"></i> <span class="visible-desktop">By</span> <a href="http://themelize.me/demos/enkel/team-member.htm">Nitin Agarwal</a></li>
                </ul>
		<h4 class="title media-heading"><%= link_to "Healthcare Asset Tracking and Management Solution", hospital_asset_tracking_solution_blog_index_path %></h4> 

                <p>A big challenge for hospitals today is the management of mobile medical equipment. A mid-size hospital already has thousands of mobile devices..</p>

                <ul class="inline links">
		<li><%= link_to " Read more", hospital_asset_tracking_solution_blog_index_path, :class => "btn btn-mini" %></li>              
                </ul>
              </div>
            </div>


   <!-- Blog post -->
            <div class="media row">
		
		<%= link_to image_tag("Blog/doc_management.jpg", :class => "media-object img-polariod"), {:controller => "blog", :action => "smart_file_solution"}, {:class => "span2"} %>

              <div class="media-body span6">  
                <!-- Meta details -->
                <ul class="inline meta muted">
                  <li><i class="icon-calendar"></i> <span class="visible-desktop">Created:</span> Sat 1st June 2013</li>
                  <li><i class="icon-user"></i> <span class="visible-desktop">By</span> <a href="http://themelize.me/demos/enkel/team-member.htm">Nitin Agarwal</a></li>
                </ul>
		<h4 class="title media-heading"><%= link_to "Smart File Solution", smart_file_solution_blog_index_path %></h4> 

                <p>Document management is one of the oldest of the content management disciplines - and was essentially born out of the need to manage ever growing amounts of information being created within organisations..</p>

                <ul class="inline links">
		<li><%= link_to " Read more", smart_file_solution_blog_index_path, :class => "btn btn-mini" %></li>              
                </ul>
              </div>
            </div>

  <!-- Blog post -->
            <div class="media row">
		
		<%= link_to image_tag("Blog/secure_cert.jpg", :class => "media-object img-polariod"), {:controller => "blog", :action => "secure_cert"}, {:class => "span2"} %>

              <div class="media-body span6">  
                <!-- Meta details -->
                <ul class="inline meta muted">
                  <li><i class="icon-calendar"></i> <span class="visible-desktop">Created:</span> Sat 4th May 2013</li>
                  <li><i class="icon-user"></i> <span class="visible-desktop">By</span> <a href="http://themelize.me/demos/enkel/team-member.htm">Nitin Agarwal</a></li>
                </ul>
		<h4 class="title media-heading"><%= link_to "Secure Certificate Solution", secure_cert_blog_index_path %></h4> 

                <p>IFace's Certificate Authentication Solution will help in the validation of certificates and documents issued by organizations and institution for its authenticity through the use of technologies stated..</p>

                <ul class="inline links">
		<li><%= link_to " Read more", secure_cert_blog_index_path, :class => "btn btn-mini" %></li>              
                </ul>
              </div>
            </div>



                   
            
          </div>
          
          <!--Sidebar-->
          <div class="span4 sidebar sidebar-right">
            <div class="inner">         
              <div class="block">
                <h3 class="block-title sub-title"><span>Tags</span></h3>
                <div class="tags">
                                    <span><a href="#">culture</a>  (16)</span>, 
                                    <span><a href="#">general</a>  (34)</span>, 
                                    <span><a href="#">coding</a>  (92)</span>, 
                                    <span><a href="#">design</a>  (28)</span>, 
                                  </div>
              </div>
              <div class="block">
                <h3 class="block-title sub-title"><span>Archive</span></h3>
                <ul class="big-list tags">
                                    <li><a href="#">November 2012</a>  (9)</li>
                                    <li><a href="#">October 2012</a>  (91)</li>
                                    <li><a href="#">September 2012</a>  (71)</li>
                                    <li><a href="#">August 2012</a>  (9)</li>
                                    <li><a href="#">July 2012</a>  (19)</li>
                                  </ul>
              </div>
              <div class="block">
                <a href="#" class="btn btn-warning"><i class="icon-rss"></i> Subscribe via RSS feed</a>
              </div>                
            </div>
          </div>     
         
        </div>
      </div><!--.container-->
    </div><!--#content-->
    

